@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

 */
 /* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
 */

/*null style*/
:root{
	--accent_color_1 :#fdd201;

	--body_text_color:#6a6a6a;

	--super_transparent_black:rgba(0,0,0,0.15);
	--transparent_black:rgba(0,0,0,0.3);
}
* {
	padding: 0;
	margin: 0;
	border: 0;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
	


}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;

	font-family: 'Inter', sans-serif;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
/*-----------------------------------------------*/
html,
body {
	height: 100%;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	color: #151515;
	font-size: 14px;
	background-color: #ffffff;
}
body._lock {
	overflow: hidden;
}
/* .serif__font{
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	
} */
.body__text{
	color: #6a6a6a;
}
.wrapper {
	min-height: 100%;
}
.page {
	padding: 60px 0 30px 0;
}
.page__section {
	padding: 25px;
	max-width: 1200px;
	margin: 0 auto;
}
.page__section_1 {
	background-color: #ffffff;

	min-height: 100vh;
	
}

.socials__landing__page{
	margin: 25px 0 25px 0;
}

.socials__landing__page a{
	margin: 15px 15px 15px 0;
	
	display:inline-block;
	

	/* background-color: var(--accent_color_1); */

	padding: 10px;
	border: 1px solid transparent;
	border-radius: 10px;
}
.socials__landing__page a img{
	height: 35px;
	
	/* filter: invert(100%) sepia(34%) saturate(0%) hue-rotate(245deg) brightness(102%) contrast(102%);
 */

}
.socials__landing__page a:hover{
	background-color:var(--super_transparent_black);
	border: 1px solid var(--transparent_black);
}


.page__section_2 {
	
	
}
.page__section_3 {
	background-color: #ffffff;
}
.page__title {
	font-size: 40px;
	margin-bottom: 25px;
	font-weight: 700;
	line-height: 40px;
}
.page__title_1{
	font-size: 28px;
	margin:15px 0 15px 0;
	line-height: 35px;

}
.page__text {
	font-size: 16px;
	line-height: 150%;
}
.page__text p {
	margin-bottom: 20px;
}
.page__sub-title {
	font-size: 30px;
	margin-bottom: 20px;
	font-weight: 500;
}

.page__sub__section{
	margin: 15px 0 15px 0;
}

.page__sub__section .page__sub__section__h2{
	font-size: 24px;
	padding-bottom: 15px;
	margin: 15px 0 15px 0;
	border-bottom: 1px solid var(--transparent_black);
	
	display: flex;
	align-items: center;
}



.page__sub__section .page__sub__section__h2 .page__sub__section__img{
	margin: 0 10px 0 0;
}
.page__sub__section__card{
	padding: 15px 5px 15px 5px;
	border: 1px solid var(--transparent_black);
	/* border-radius: 10px; */
	border-left: none;
	border-right: none;
	border-top: none;

}
.page__sub__section__card .page__sub__section__card__h2{
	font-size: 18px;
	font-weight: 600;
	line-height: 150%;
	margin:0px 0 15px 0;
}
.page__sub__section__card p{
	font-size: 16px;
	line-height: 150%;
	counter-reset: var(--body_text_color);
}





.landingpage__illustration img{
	max-height: 45vh;
	width: 100%;

}
.landingpage__illustration svg{
	max-height: 45vh;
	width: 100%;

}



/*-------------------------*/

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	background-color: #ffffff;

	

}
.header__container {
	padding: 25px 30px;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 60px;

	border-bottom: 0.6px solid rgba(0, 0, 0, 0.1);
	
}
.header__logo {
	/* border-radius: 50%;
	background-color: #fff;
	width: 40px;
	height: 40px; */

	position: relative;
	z-index: 5;
	
	
	display: flex;
	align-items: center;
	justify-content: center;
}
.header__logo img{
	height: 30px;

}
.header__menu {
}
.menu {
} 
.menu__icon {
	display: none;
}
.menu__body {
}
.menu__list {
} 
.menu__list > li {
	position: relative;
	margin-left: 25px;
}
.menu__link {
	color: #000000;
	font-size: 18px;
}
.menu__sub-list {
	position: absolute;
	top: 100%;
	right: 0;
	background-color: #ffffff;
	padding: 15px;
	min-width: 200px;
	border-radius: 15px;
}
.menu__sub-list li {
	margin-bottom: 10px;
}
.menu__sub-list li:last-child {
	margin-bottom: 0px;
}
.menu__sub-link {
	color: #000000;
}
.menu__sub-link:hover {
	text-decoration: underline;
}
.menu__arrow {
	display: none;
}
/*-------------------------*/
body._pc .menu__list > li:hover .menu__sub-list {
	opacity: 1;
	visibility: visible;
	transform: translate(0, 0);
	pointer-events: all;
}
body._touch .menu__list > li {
	display: flex;
	align-items: center;
}
body._touch .menu__link {
	flex: 1 1 auto;
}
body._touch .menu__arrow {
	display: block;
	width: 0;
	height: 0;
	margin-left: 5px;
	transition: transform 0.3s ease 0s;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #fff;
}

body._touch .menu__list > li._active .menu__sub-list {
	opacity: 1;
	visibility: visible;
	transform: translate(0, 0);
	pointer-events: all;
}
body._touch .menu__list > li._active .menu__arrow {
	transform: rotate(180deg);
}
/*-------------------------*/
@media (min-width: 767px) {
	.menu__list {
		display: flex;
		align-items: center;
	}
	.menu__list > li {
		/* padding from link to sub links area to avoid breaking hover on mouse move */
		

		display: block;
		border-radius: 100px;
		
	}
	.menu__list li a{
		display: block;
		border-radius: 100px;
		padding: 0px 0px;
		
		margin-right: 20px;

		font-size: 1em;
		color: #656565;
	}
	.menu__list  li :hover{
		color: rgb(0, 0, 0);
		transition: 250ms ease-in-out;
	}

	.menu__sub-list {
		transform: translate(0, 10px);
		opacity: 0;
		visibility: hidden;
		/* to avoid mistaken hover */
		pointer-events: none;
		transition: all 0.3s ease 0s;
	}
}

@media (max-width: 767px) {
	.menu__icon {
		z-index: 5;
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
	}
	.menu__icon span,
	.menu__icon::before,
	.menu__icon::after {
		left: 0;
		position: absolute;
		height: 10%;
		width: 100%;
		transition: all 0.3s ease 0s;
		background-color: #000000;
	}
	.menu__icon::before,
	.menu__icon::after {
		content: '';
	}
	.menu__icon::before {
		top: 0;
	}
	.menu__icon::after {
		bottom: 0;
	}
	.menu__icon span {
		top: 50%;
		transform: scale(1) translate(0, -50%);
	}

	.menu__icon._active span {
		transform: scale(0) translate(0, -50%);
	}
	.menu__icon._active::before {
		top: 50%;
		transform: rotate(-45deg) translate(0, -50%);
	}
	.menu__icon._active::after {
		bottom: 50%;
		transform: rotate(45deg) translate(0, 50%);
	}

	.menu__body {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: rgba(255, 255, 255, 0.7);

		backdrop-filter: blur(25px);


		padding: 100px 30px 30px 30px;
		transition: left 0.3s ease 0s;
		/* for scroll on menu */
		overflow: auto;
	}
	.menu__body._active {
		/* use left and not transform/translate because it scroll the .menu__body::before when u scroll menu */
		left: 0;
	}
	.menu__body::before {
		content: '';
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		height: 70px;
		background-color: #ffffff;
		z-index: 2;
	}
	.menu__list > li {
		flex-wrap: wrap;
		margin-bottom: 30px;
	}
	.menu__list > li:last-child {
		margin-bottom: 0;
	}
	.menu__list > li._active .menu__sub-list {
		display: block;
	}
	.menu__link {
		font-size: 24px;
	}
	.menu__sub-list {
		position: relative;
		background-color: #fff;
		flex: 1 1 100%;
		margin-top: 20px;
		display: none;
	}
	.menu__sub-link {
		font-size: 20px;
		color: #000;
	}
}

footer{

	display: grid;
	place-items: center;

	min-height: 100px;

	background-color: #121212;
	color:#aaaaaa;
	line-height: 30px;
}